html, body {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

#app {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

#body {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	max-width: 100%;
	padding-left: 200px;
	padding-right: 200px;
}

#home {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}









#navigation {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	background-color: #333333;
	z-index: 1000;
}

#navigation .container, #navigation .row, #navigation .row > div {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#navigation .row > div:nth-child(1) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
}

#navigation .row > div:nth-child(2) {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	padding: 50px 0px;
}

#navigation .row > div:nth-child(3) {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
}

#navigation .row > div:nth-child(3) span {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: white;
	cursor: pointer;
	padding: 0px 15px;
	transition: all 0.2s linear;
}

#navigation .row > div:nth-child(3) span:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#navigation #logo {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;

	text-align: center;
	font-size: 20px;
	color: rgb(200, 200, 200);
	border-bottom: 1px solid rgba(200, 200, 200, 0.25);
	margin: 0px;
}

#navigation ul {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	list-style: none;
	padding: 0px;
}

#navigation ul li {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
}

#navigation ul li a {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: white;
	padding: 0px 15px;
	text-decoration: none;
}

#navigation ul li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	text-decoration: none;
}




#success, #error {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: auto;
	min-height: 50px;
	transition: all 0.2s linear;
}

#success {
	background-color: green;
	color: white;
	padding: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
}

#error {
	background-color: red;
	color: white;
	padding: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.show-alert {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}













#page {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	padding-left: 200px;
	z-index: 100;
}

#page .container, #page .row, #page .row > div {
	padding: 0px;
	margin: 0px;
}

#page > div:nth-child(1) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	padding-left: 200px;
}

#page > div:nth-child(1) h2 {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0px 15px;

	font-size: 30px;
}

#page > div:nth-child(2) {
	height: 100%;
	padding-top: 50px;
}

#page > div:nth-child(2) > .row {
	height: 100%;
}

#page > div:nth-child(2) > .row > div {
	height: 100%;
}













#products {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	padding-top: 50px;
}

#products #add-product {
	position: absolute;
	top: 0px;
	left: 0px;
	width: auto;
	height: 50px;
	line-height: 50px;


	padding: 0px 15px;
	cursor: pointer;
}

#products #add-product:hover {
	text-decoration: underline;
}

#products .product-item {
	position: relative;
	float: left;
	width: 20%;
	height: 330px;
	padding: 15px;
}

#products .product-image {
	position: relative;
	float: left;
	width: 100%;
	height: 150px;

	background-image: url();
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(240, 240, 240);
}

#products .product-title {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: rgb(240, 240, 240);
	padding: 0px 15px;
	margin: 0px;
	font-weight: bold;
}

#products .product-description {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	background-color: rgb(240, 240, 240);
	margin: 0px;
	padding: 0px 15px;
}

#products .product-pricing {
	position: absolute;
	right: 30px;
	bottom: 15px;
	width: auto;
	height: 50px;
	line-height: 50px;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
	z-index: 1000;
	
}

#products .product-button {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;

	font-size: 14px;
	font-weight: bold;
	padding: 0px 15px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(240, 240, 240);
	transform: all 0.2s linear;
}

#products .product-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#products .product-edit {
	position: absolute;
	bottom: 15px;
	left: 25px;
	width: 25px;
	height: 50px;

	z-index: 1000;
}

#products .product-edit i {
	position: relative;
	float: left;
	width: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgb(100, 100, 100);
	transition: all 0.2s linear;
	z-index: 1000;
	cursor: pointer;
}


#products .product-edit:hover i {
	color: rgb(0, 0, 0);
}



#products .product-delete {
	position: absolute;
	bottom: 15px;
	left: 50px;
	width: 25px;
	height: 50px;

	z-index: 1000;
}

#products .product-delete i {
	position: relative;
	float: left;
	width: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgb(100, 100, 100);
	transition: all 0.2s linear;
	z-index: 1000;
	cursor: pointer;
}

#products .product-delete:hover i {
	color: rgb(0, 0, 0);
}


















#product {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#product-content {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

#product .product-item {
	position: relative;
	float: left;
	left: 10%;
	width: 80%;
	height: auto;
	padding: 15px;
	padding-top: 50px;
	background-color: rgb(240, 240, 240);
}

#product .product-image {
	position: relative;
	float: left;
	width: 100%;
	height: 500px;

	background-image: url();
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgb(240, 240, 240);
}

#product .product-title {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: rgb(240, 240, 240);
	padding: 0px 15px;
	margin: 0px;
	font-weight: bold;
}

#product .product-description {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background-color: rgb(240, 240, 240);
	margin: 0px;
	padding: 0px 15px;
	padding-bottom: 50px;
}

#product .product-pricing {
	position: absolute;
	right: 30px;
	bottom: 15px;
	width: auto;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	z-index: 1000;
	
}

#product .product-edit {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 50px;
	height: 50px;

	z-index: 1000;
}

#product .product-edit i {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgb(100, 100, 100);
	transition: all 0.2s linear;
	z-index: 1000;
	cursor: pointer;
}


#product .product-edit:hover i {
	color: rgb(0, 0, 0);
}

#product .product-delete {
	position: absolute;
	bottom: 15px;
	left: 65px;
	width: 50px;
	height: 50px;

	z-index: 1000;
}

#product .product-delete i {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgb(100, 100, 100);
	transition: all 0.2s linear;
	z-index: 1000;
	cursor: pointer;
}

#product .product-delete:hover i {
	color: rgb(0, 0, 0);
}












#images {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0px 15px;
	padding-top: 50px;
	overflow: hidden;
}

#images #add-image {
	position: absolute;
	top: 0px;
	left: 15px;
	width: auto;
	height: 50px;
}

#images #add-image > div, #images #add-image > div > form {
	position: relative;
	float: left;
	width: auto;
	height: 50px;
}

#images form > div {
	position: relative;
	float: left;
	width: auto;
	height: 50px;
}

#images #images-content {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}


#images .image-item {
	position: relative;
	float: left;
	width: 20%;
	height: 230px;
	padding: 15px;
}

#images .image-image {
	position: relative;
	float: left;
	width: 100%;
	height: 150px;

	background-image: url();
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(240, 240, 240);
}

#images .image-title {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: rgb(240, 240, 240);
	padding: 0px 15px;
	margin: 0px;
	font-weight: bold;
}

#images .image-delete {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 50px;

	z-index: 1000;
}

#images .image-delete i {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgb(100, 100, 100);
	transition: all 0.2s linear;
	z-index: 1000;
	cursor: pointer;
}

#images .image-delete:hover i {
	color: rgb(0, 0, 0);
}



@media screen and (max-width: 769px) {
	html body #navigation {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}

	html body #page {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 0px !important;
	}

	html body #page > div:nth-child(1) {
		padding: 0px !important;
	}

	html body #images {
		padding-top: 150px;
		height: auto !important;
	}

	html body #products {
		height: auto !important;
	}

	html body .image-item {
		width: 100% !important;
	}

	html body .product-item {
		width: 100% !important;
	}
}