<template>
	<div id="login">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div id="login-form">
						<form action="#" @submit.prevent="login">
							<div class="form-input">
								<label for="username">Username</label>
								<input type="text" name="username" v-model="username" placeholder=" Username:">
							</div>
							<div class="form-input">
								<label for="password">Password</label>
								<input type="password" name="password" v-model="password" placeholder=" Password:">
							</div>
							<div class="form-input">
								<button type="submit" id="login-button" class="btn-submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "login",
		data: function() {
			return {
				username: "",
				password: "",
			}
		},
		mounted: function() {
			$("#page-header").html("Login");
		},
		methods: {
			login: function() {
				this.$store.dispatch("getToken", {
					username: this.username,
					password: this.password
				}).then(response => {
					let data = response.data;
					

					/* Again again not the best way. but many things to do and little time. */
					$("#success").html("User loggedin.").addClass("show-alert");
					setTimeout(function() {
						$("#success").html("").removeClass("show-alert");
					}, 2000);

					
					this.$router.push({name: "home"});
				}).catch(error => {
					//console.log('error: ', error);
				});
			}
		}
	}
</script>