<template>
	<div id="body">
		<div id="success">
			
		</div>
		<div id="error">
			
		</div>
		<navigation></navigation>
		<page></page>
	</div>
</template>

<script>
    export default {
        computed: {
        	
        }
    }
</script>
