<template>
	<div id="add">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div id="add-form">
						<form action="#" @submit.prevent="add">
							<div class="form-input">
								<label for="title">Title</label>
								<input type="text" name="title" v-model="title" placeholder=" Title:">
							</div>
							<div class="form-input">
								<label for="image">Image</label>
								<select @change="handleChange">
									<option disabled selected value> -- select an option -- </option>


									<option v-for="image in images" v-bind:value="image.id" v-bind:id="image.id" class="image-item">
										<span >{{ image.title }}</span>
									</option>
								</select>
							</div>
							<div class="form-input">
								<label for="description">Description</label>
								<input type="text" name="description" v-model="description" placeholder=" Description:">
							</div>
							<div class="form-input">
								<label for="pricing">Price</label>
								<input type="text" name="pricing" v-model="pricing" placeholder=" Description:">
							</div>
							<div class="form-input">
								<button type="submit" id="add-button" class="btn-submit">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
    	name: "add",
    	data: function() {
			return {
				title: "",
				image: "",
				description: "",
				pricing: ""
			}
		},
		mounted: function() {
			this.$store.dispatch("getImages").then(response => {
				let data = response.data;

				this.$store.commit("setImages", data);
			});

			$("#page-header").html("Add Product");
		},
		computed: {
			images: function() {
				return this.$store.state.images;
			},
		},
		methods: {
			add: function() {
				this.$store.dispatch("addProduct", {
					title: this.title,
					image: this.image,
					description: this.description,
					pricing: this.pricing
				}).then(response => {
					this.$store.dispatch("getProducts").then(response => {
						let data = response.data;
						this.$store.commit("setProducts", data);
					});
					this.$router.push({name: "home"});
				}).catch(error => {
					console.log('error: ', error);
				});
			},
			handleChange: function(e) {
				if(e.target.options.selectedIndex > -1) {
		            this.image = e.target.options[e.target.options.selectedIndex].id;
		        }
			}
		}
    }
</script>