<template>
	<div id="edit">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div id="edit-form">
						<form action="#" @submit.prevent="edit">
							<div class="form-input">
								<label for="title">Title</label>
								<input type="text" name="title" v-model="title" placeholder=" Title:">
							</div>
							<div class="form-input">
								<label for="image">Image</label>
								<select @change="handleChange" id="select-image">
									<option disabled selected value> -- select an option -- </option>


									<option v-for="image in images" v-bind:value="image.id" v-bind:id="image.id" class="image-item">
										<span>{{ image.title }}</span>
									</option>
								</select>
							</div>
							<div class="form-input">
								<label for="description">Description</label>
								<input type="text" name="description" v-model="description" placeholder=" Description:">
							</div>
							<div class="form-input">
								<label for="pricing">Price</label>
								<input type="text" name="pricing" v-model="pricing" placeholder=" Description:">
							</div>
							<div class="form-input">
								<button type="submit" id="edit-button" class="btn-submit">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
    	name: "edit",
    	data: function() {
			return {
				title: "",
				image: "",
				description: "",
				pricing: ""
			}
		},
		mounted: function() {
			let id = this.$route.params.id;
			this.$store.dispatch("getProduct", {
				id: id
			}).then(response => {
				let data = response.data;
				console.log(data);

				this.title = data.title;
				this.image = data.image;
				
				/* yeye i know. not good. :( */
				setTimeout(function() {
					$("#select-image").val(data.image);
				}, 50);

				this.description = data.description;
				this.pricing = data.pricing;
			});

			this.$store.dispatch("getImages").then(response => {
				let data = response.data;

				this.$store.commit("setImages", data);
			});

			$("#page-header").html("Edit Product");
		},
		computed: {
			images: function() {
				return this.$store.state.images;
			},
		},
		methods: {
			edit: function() {
				let id = this.$route.params.id;

				this.$store.dispatch("editProduct", {
					id: id,
					title: this.title,
					image: this.image,
					description: this.description,
					pricing: this.pricing
				}).then(response => {
					this.$store.dispatch("getProducts").then(response => {
						let data = response.data;
						this.$store.commit("setProducts", data);
					});
					this.$router.push({name: "home"});
				}).catch(error => {
					console.log('error: ', error);
				});
			},
			handleChange: function(e) {
				if(e.target.options.selectedIndex > -1) {
		            this.image = e.target.options[e.target.options.selectedIndex].id;
		        }
			}
		}
    }
</script>