<template>
	<div id="images">
		<div id="add-image">
			<div id="image-form">
				<form action="#" @submit.prevent="upload">
					<div class="form-input">
						<input type="file" id="image" name="image" ref="image" v-on:change="handleImage()"/>
					</div>
					<div class="form-input">
						<input type="title" name="title" v-model="title" placeholder=" Title:">
					</div>
					<div class="form-input">
						<button type="submit" id="upload-button" class="btn-submit">Upload</button>
					</div>
				</form>
			</div>
		</div>
		<div id="images-content">
			<div v-for="image in images" v-bind:id="image.id" class="image-item">
				<span class="image-image" v-bind:style="{ 'background-image': 'url(' + image.path + ')' }"></span>
				<p class="image-title">{{ image.title }}</p>

				<span v-if="loggedIn" @click="deleteImage" class="image-delete">
					<i class="fa fa-trash"></i>
				</span>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
    	name: "images",
    	data: function(){
		  return {
		    image: '',
		    title: ''
		  }
		},
		mounted: function() {
			this.$store.dispatch("getImages").then(response => {
				let data = response.data;

				this.$store.commit("setImages", data);
			});
			$("#page-header").html("Images");
		},
		computed: {
			images: function() {
				return this.$store.state.images;
			},
			loggedIn: function() {
        		return this.$store.getters.loggedIn;
        	}
		},
		methods: {
			handleImage(){
				this.image = this.$refs.image.files[0];
			},
			upload: function() {

				if(this.title == "") {
					alert("You must add a title");
					return false;
				}

				this.$store.dispatch("addImage", {
					title: this.title,
					image: this.image
				}).then(response => {
					let data = response.data;

					if (data.errors != null) {
						alert(data.errors);
					}else if (data.success != null) {
						//alert(data.success);
						this.title = "";
						/* Quick fix. bad practice */
						const input = this.$refs.image;
						input.type = 'text';
    					input.type = 'file';
					}

					/* Not the best way but i'm busy :( */
					this.$store.dispatch("getImages").then(response => {
						let data = response.data;

						this.$store.commit("setImages", data);
					});
				}).catch(error => {
					console.log('error: ', error);
				});
			},
			deleteImage: function() {
				let id = $(event.target).parent().parent().attr("id");
				this.$store.dispatch("deleteImage", {
					id: id
				}).then(response => {
					let data = response.data;
					this.$store.dispatch("getImages").then(response => {
						let data = response.data;

						this.$store.commit("setImages", data);
					});
				}).catch(error => {
					console.log('error: ', error);
				});
			}
		}
    }
</script>
