<template>
	<div id="navigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<h1 id="logo">
						Wundershop
					</h1>
				</div>
				<div class="col-sm-12 col-xs-12">
					<ul>
						<li><router-link :to="{name: 'home'}">Products</router-link></li>
						<li v-if="loggedIn"><router-link :to="{name: 'images'}">Images</router-link></li>
					</ul>
				</div>
				<div class="col-sm-12 col-xs-12">
					<span v-if="loggedIn" @click="logout">Logout</span>
					<span v-else="loggedIn" @click="login">Login</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
    	name: "navigation",
		mounted: function() {
			
		},
		computed: {
        	loggedIn: function() {
        		return this.$store.getters.loggedIn;
        	}
		},
		methods: {
			login: function(event) {
				this.$router.push({name: "login"});
			},
			logout: function(event) {
				this.$store.dispatch("deleteToken").then(response => {
					this.$router.push({name: "home"});
				});
			},
			click: function(event) {
				
			}
		}
    }
</script>