<template>
	<div id="page">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<h2 id="page-header">
						
					</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<router-view></router-view>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
    	name: "page",
		mounted: function() {
			
		},
		computed: {
			
		},
		methods: {
			
		}
    }
</script>