<template>
	<div id="products">
	<span v-if="loggedIn" id="add-product" @click="add">
		+ Add product
	</span>
		<div v-for="product in products" v-bind:id="product.id" class="product-item">
			<span class="product-image" v-bind:style="{ 'background-image': 'url(' + root + '/api/images/' + product.image + ')' }"></span>
			<p class="product-title">{{ product.title }}</p>
			<p class="product-description">{{ product.description }}</p>
			<p class="product-pricing">{{ product.pricing }}$</p>
			<span @click="click" class="product-button">View product</span>
			<span v-if="loggedIn" @click="edit" class="product-edit">
				<i class="fa fa-cog"></i>
			</span>
			<span v-if="loggedIn" @click="deleteItem" class="product-delete">
				<i class="fa fa-trash"></i>
			</span>
		</div>
	</div>
</template>
<script>
    export default {
    	name: "products",
    	data: function() {
			return {
				root: location.protocol + "//" + location.host
			}
		},
		mounted: function() {
			this.$store.dispatch("getProducts").then(response => {
				let data = response.data;

				this.$store.commit("setProducts", data);
			});
			$("#page-header").html("Products");
		},
		computed: {
			products: function() {
				return this.$store.state.products;
			},
			loggedIn: function() {
        		return this.$store.getters.loggedIn;
        	}
		},
		methods: {
			click: function() {
				let id = $(event.target).parent().attr("id");
				this.$router.push({path: '/product/' +  id});
			},
			add: function() {
				this.$router.push({name: "add"});
			},
			edit: function(event) {
				/* Bad i know.. But again. I'm in a hurry.. */
				let id = $(event.target).parent().parent().attr("id");
				
				//this.$router.push({name: "edit", params: { id: 123 }});
				this.$router.push({path: '/edit/' +  id});
				
			},
			deleteItem: function() {
				let id = $(event.target).parent().parent().attr("id");
				this.$store.dispatch("deleteProduct", {
					id: id
				}).then(response => {
					this.$store.dispatch("getProducts").then(response => {
						let data = response.data;

						this.$store.commit("setProducts", data);
					});
				}).catch(error => {
					console.log('error: ', error);
				});
			}
		}
    }
</script>
