<template>
	<div id="product">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div id="product-content">
						<div class="product-item">
							<span class="product-image" v-bind:style="{ 'background-image': 'url(' + root + '/api/images/' + image + ')' }"></span>
							<p class="product-title">{{ title }}</p>
							<p class="product-description">{{ description }}</p>
							<p class="product-pricing">{{ pricing }}$</p>
							<span v-if="loggedIn" @click="edit" class="product-edit">
								<i class="fa fa-cog"></i>
							</span>
							<span v-if="loggedIn" @click="deleteItem" class="product-delete">
								<i class="fa fa-trash"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
    	name: "product",
    	data: function() {
			return {
				root: location.protocol + "//" + location.host,
				title: "",
				image: "",
				description: "",
				pricing: ""
			}
		},
		mounted: function() {
			let id = this.$route.params.id;
			
			this.$store.dispatch("getProduct", {
				id: id
			}).then(response => {
				let data = response.data;
				console.log(data);

				this.title = data.title;
				this.image = data.image;
				this.description = data.description;
				this.pricing = data.pricing;
			});


			$("#page-header").html("View Product");
		},
		computed: {
			loggedIn: function() {
        		return this.$store.getters.loggedIn;
        	}
		},
		methods: {
			edit: function() {
				let id = this.$route.params.id;
				this.$router.push({path: '/edit/' +  id});
			},
			deleteItem: function() {
				let id = this.$route.params.id;
				
				this.$store.dispatch("deleteProduct", {
					id: id
				}).then(response => {
					this.$router.push({name: "home"});
				}).catch(error => {
					console.log('error: ', error);
				});
			}
		}
    }
</script>